<p-toast></p-toast>

<div
  class="surface-card"
  style="background-image: url('assets/images/login/background.svg'); background-size: cover; height: 100vh;">
  <div class="flex align-items-center justify-content-center">
    <div class="text-center" style="margin-top: 7rem !important">
      <img src="assets/images/login/logo.png" alt="logo" width="300" class="mb-3"/>
    </div>
  </div>
  <div class="sm:px-8" style="padding-left: 16% !important; padding-top: 5% !important">
    <div class="grid">
      <div class="col-12 md:col-6">
        <div class="field">
          <span class="p-input-icon-left">
            <i class="pi pi-user"></i>
            <input [(ngModel)]="user" type="text" placeholder="Username" pInputText style="width: 20rem" appAutoFocus/>
          </span>
        </div>
        <div class="field">
          <span class="p-input-icon-left">
            <i class="pi pi-lock"></i>
            <input [(ngModel)]="password" type="password" placeholder="Password" pInputText style="width: 20rem"/>
          </span>
        </div>
        <button pButton pRipple type="button" label="LOGIN" (click)="letMeIn()" style="width: 8rem"></button>
      </div>
    </div>
  </div>
</div>
