<div class="bg-purple">
    <div class="stars">
        <div class="custom-navbar">
            <div class="brand-logo">
                <img src="../../../assets/layout/images/logo.jpg" width="40px">
                <span class="t3">T3</span>
            </div>
        </div>
        <div class="central-body">
            <img class="image-404" src="../../../assets/layout/images/404.svg" width="300px">
            <a href="/app" class="btn-go-home" target="_self">GO BACK HOME</a>
        </div>
        <div class="objects">
            <img class="object_rocket" src="../../../assets/layout/images/rocket.svg" width="40px">
            <div class="earth-moon">
                <img class="object_earth" src="../../../assets/layout/images/earth.svg" width="100px">
                <img class="object_moon" src="../../../assets/layout/images/moon.svg" width="80px">
            </div>
            <div class="box_astronaut">
                <img class="object_astronaut" src="../../../assets/layout/images/astronaut.svg" width="140px">
            </div>
        </div>
        <div class="glowing_stars">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
        </div>
    </div>
</div>