<p-toast></p-toast>
<div class="grid">
    <div class="col-12 lg:col-6">
        <div class="card">
            <h5>Request for Configuration tables(s)</h5>
            <div class="grid">
                <div class="col-12">
                    <button (click)="csRequest()" pButton icon="pi pi-external-link" label="Send"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6">
        <div class="card">
            <h5>Stop Recorder Services</h5>
            <div class="grid">
                <div class="col-12">
                    <button (click)="confirm2($event)" pButton icon="pi pi-trash" label="Confirm" class="p-button-danger" style="width:auto;"></button>
                    <p-confirmPopup key="confirm2"></p-confirmPopup>
                </div>
            </div>
        </div>
    </div>
</div>