<div class="grid">
	<div class="col-12">
		<div class="card">
			<h5>Filter Menu</h5>
			<p-table styleClass="p-datatable-gridlines" [paginator]="true" responsiveLayout="scroll">
				<ng-template pTemplate="caption">
					<div class="flex justify-content-between flex-column sm:flex-row">
						<button pButton label="Clear" class="p-element p-ripple p-button-success mr-2 p-button p-component" icon="pi pi-filter-slash">
                            <span class="p-button-icon p-button-icon-left pi pi-plus" aria-hidden="true"></span>New
                        </button>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th style="min-width: 12rem">
							<div class="flex justify-content-between align-items-center">
								Name
							</div>
						</th>
						<th style="min-width: 12rem">
							<div class="flex justify-content-between align-items-center">
								Short URL
							</div>
						</th>
						<th style="min-width: 14rem">
							<div class="flex justify-content-between align-items-center">
								Redirect To
							</div>
						</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" urls>
					<tr>
						<td>ASDASD
						</td>
						<td>ASDASD
						</td>
						<td>ASDASD
						</td>
					</tr>
				</ng-template>
			
			
    		</p-table>
		</div>

	</div>
