<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="assets/images/logo.png" alt="Logo" height="50" class="d-inline-block align-top"
            style="padding-left: 25px;">
    </a>
    <div class="collapse navbar-collapse">
        <div class="ml-auto">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="close()">Cerrar sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Body -->
<div class="container my-4">
    <h2 class="text-center">Data Table</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Columna 1</th>
                <th>Columna 2</th>
                <th>Columna 3</th>
                <th>Columna 4</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Dato 1</td>
                <td>Dato 2</td>
                <td>Dato 3</td>
                <td>Dato 4</td>
            </tr>
            <tr>
                <td>Dato 5</td>
                <td>Dato 6</td>
                <td>Dato 7</td>
                <td>Dato 8</td>
            </tr>
            <!-- Agrega más filas según sea necesario -->
        </tbody>
    </table>
</div>